/*
Import ProximaNova font
*/
/*
@font-face {
font-family: ProximaNova-Regular;
src: url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}
*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;

  /* fonts */
  /*font-family: ProximaNova-Regular, sans-serif;*/
  font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
}

a {
  color: #1695B6;
}
a:hover {
  color: #B0E4E3;
}

/*
---- ID's ----
*/

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: white;
}

#header-mobile > img {
  max-width: 100%;
}

#main {
  position: absolute;
  z-index: 2;
  top: 40%;
  width: 100%;
  height: 60%;
  background-color: inherit;

  color: #2C3E50;
}

#logo-center {
  margin: auto;
  width: 400px; /* Has to be same width as logo */
}
#logo {
  /* center */
  position: absolute;

  width: 400px; /*303px*/
  height: 264px; /*172px*/

  z-index: 1;
}

/*
** Side bar **
*/

#side-bar-open {
  background: red;

  /* Fix to right-middle */
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  z-index: 10;
}
#side-bar-open>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
}
#side-bar-open>ul li a {
  display: block;
  color: #2C3E50;
  padding: 8px 16px;
  text-decoration: none;
}
#side-bar-open>ul li a:hover {
  background-color: #555;
  color: white;
}

#side-bar-closed {
  /* Fix to right-middle */
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  z-index: 10;
}

/*
** Mail signup button **
*/

#mail-signup {
  border-radius: 25px;
  border: 2px solid #1695B6;
  padding: 0.4em;
  text-decoration: none;

  font-size: 3em;
}
/* Make signup button smaller on mobile */
@media (max-width: 961px) {
  #mail-signup {
    font-size: 6vw;
  }
}

#mail-signup:hover {
  border: 2px solid #B0E4E3;
}

/*
---- Classes ----
*/

/* particles.js */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.foot {
  background: gray;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  /* Center
  left: 50%;
  transform: translateX(-50%);
  */
}

/*
** Social Media **
*/
social-media-image {
  padding: 0;
}
.social-media-fa {
  color: #1695B6;
  padding: 10px 20px;
}
/*
.social-media-fa:hover {
  color: #B0E4E3;
}*/
@media (min-width: 800px) {
  .grow {
    transition: all .2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.2);
  }
}
