/*
Import ProximaNova font
*/
/*
@font-face {
font-family: ProximaNova-Regular;
src: url("../fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype");
}
*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;

  /* fonts */
  /*font-family: ProximaNova-Regular, sans-serif;*/
  font-family: 'proximanova', Proxima Nova, Helvetica, sans-serif;
}

a {
  color: #1695B6;
}
a:hover {
  color: #B0E4E3;
}

.darkblue {
  color: #2C3E50;
}
.lightblue {
  color: #1695B6;
}

/*
** Top ID's **
*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: white;
}

#header-mobile > img {
  max-width: 100%;
}

#main {
  position: absolute;
  z-index: 2;
  top: 40%;
  width: 100%;
  background-color: inherit;

  color: #2C3E50;
}

#logo-center {
  margin: auto;
  width: 400px; /* Has to be same width as logo */
}
#logo {
  /* center */
  position: absolute;

  width: 400px; /*303px*/
  height: 264px; /*172px*/

  z-index: 1;
}

/*
** Layout **
*/

.shadow {
  -webkit-box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.25);
  box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.25);
}

.body-margin {
  margin-left: 15%;
  margin-right: 15%;
}

.flex-container {
  display: flex;
  flex-direction: column; /* main axis */
}

.center {
  align-self: center;
}

.small-hr {
  width: 100%;
  height: 2px;
  background: #2C3E50;
  border: none;
  margin-top: 3em;
  margin-bottom: 3em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
  border-radius: 5px 5px 0 0;
}
.card-text {
  padding: 2px 16px;
}

/*
** Top links **
*/

#mail-signup {
  text-decoration: none;
  font-size: 3em;
}

/* Make signup button smaller on mobile */
@media (max-width: 961px) {
  #mail-signup {
    font-size: 6vw;
  }
}
/*
#mail-signup:hover {
  border: 2px solid #B0E4E3;
}
*/

/*
** Leadership **
*/

#leadership {}

#leaderboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.leaderbox {
  font-size: 1.5em;
  margin: 1em 0.5em;

  width: 12em;
}
.leaderbox h4 {
    margin-top: 0.25em; 
    margin-bottom: 0;
}

/* Make leaderbox button smaller on mobile */
/*
@media (max-width: 961px) {
  .leaderbox {
    width: 8em;
    font-size: 1em;
  }
  .leaderbox h4 {
    margin-top: 0; 
  }
}
*/

.img-center {
  display: block;
  margin: 0 auto;
}

#leadership a {
  text-decoration: none;
}

/*
** ETC **
*/

/* particles.js */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.foot {
  background: gray;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  /* Center
  left: 50%;
  transform: translateX(-50%);
  */
}

/*
** Social Media **
*/
social-media-image {
  padding: 0;
}
.social-media-fa {
  color: #1695B6;
  padding: 10px 20px;
}
.social-media-fa:hover {
  color: #B0E4E3;
}
/*
@media (min-width: 800px) {
  .grow {
    transition: all .2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.2);
  }
}*/
